// Import page-specific CSS files here.
@import "home";
@import "session";

.container-index {
  margin: 0 auto;
  min-height: 79vh;
  height: auto;
  position: relative;
}


h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    // padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }
