.img-backgound {
  background-image: asset-url("logo-Jam-bot-04.png");
  height: 100vh;
  background-image: cover;
  background-repeat: no-repeat;
  background-position-x: -60px;
  width: 700px;
  margin-top: 25px;

}

.container {
  display: flex;
  margin: 0 0 0 100px;
}

.log-form {
  margin-left: 100px;
  width: 500px;
}

.row {
  height: 600px;
}

#log-form-height {
  height: 530px;
}
