<div class="container-topics">
<h1>Mes topics</h1>
  <div class="cards">
    <% @topics.each do |topic| %>
        <div class="card-topic" style="width: 18rem;">
          <img class="card-photo"src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-body">
              <h5 class="card-title"><%= topic.title %></h5>
              <h3 class="card-text"><%= topic.first_accroche %></h3>
              <p class="card-text"><%= topic.description %></p>
              <a href="#" class="btn btn-danger">Edit</a>
            </div>
        </div>
    <% end %>
  </div>
</div>
