<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <div>
        <h1><%=@topic.title  %></h1>
        <h4><%=@topic.description  %></h4>
      </div>
      <div class="topics-components d-flex justify-content-center align-items-center">
        <div class="interactions-form">
          <div class="col-6"></div>
            <%= render '../interactions/new', interaction: @interaction %>
        </div>
        <div class="interactions-preview">
          <div class="col-6"></div>

        </div>
      </div>
        <%= link_to "Retour vers mes topics", topics_path, :class => "link-to" %>
    </div>
  </div>
</div>
