@import "show";

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // grid-gap: 16px;
}

.container-topics{
  margin: -82px 120px 20px 120px;
  min-height: 45vh;
  position: relative;
  z-index: 2;

  h1 {
    justify-content: flex-start;
    margin-left: 12px;
    margin-bottom: 0px;
    font-size: 32px;
  }

  .topic-title {
    display: flex;
  }
}

#Nouvelle-converse {
  margin-bottom: 40px;
}


@media(max-width: 1600px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 1300px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
