@import "show";

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 28px;
}

.container-topics{
  margin: -82px 90px 40px 90px;
  min-height: 45vh;
  position: relative;
  z-index: 2;

  h1 {
    justify-content: flex-start;
    margin-left: 12px;
    margin-bottom: 0px;
    font-size: 32px;
  }

  .topic-title {
    display: flex;
  }
}

#Nouvelle-converse {
  margin-bottom: 40px;
  margin-left: 0;
}


@media(max-width: 1600px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 1300px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 500px) {
  .container-topics {
    min-height: 99vh;
  }
}
