.topics-components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.interactions-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-right: 40px;
  padding-right: 40px;
  border-right: 0.7px solid black;
  flex-grow: 1;
}

.interactions-preview {
  padding-right: 40px;
}

.topic-title {
  text-align: center;
  align-items: center;
  display: flex;

}

.banner-topic{
  height: 150px;
  width: 100%;

  img{
    object-fit: cover;
  }
}
