.topics-components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.interactions-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-right: 40px;
  padding-right: 40px;
  border-right: 0.7px solid black;
  flex-grow: 1;
}

.interactions-preview {
  padding-right: 40px;
}

.topic-title {
  text-align: center;
  align-items: center;
  display: flex;

}

.banner{
  height: 300px;
  width: 80vw;
  object-fit: cover;
}

.container-banner{
  position:relative;

  .banner{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  }
  h1 {
    position: absolute;
    top: 118px;
    background-color: white;
  }
}
