<H1>Utilisateurs</H1>
<div class="container-user">
  <div class="users-row">
      <% @users.each do |user| %>
        <div class="users-card">
          <div class="user-info">
            <p><%= user.first_name %></p>
          </div>
          <div class="user-info">
            <p><%= user.last_name %></p>
          </div>
          <div class="user-info">
            <p><%= user.email %></p>
          </div>
          <div class="user-info">
            <p>Slack Token</p>
          </div>
          <div class="user-info">
            <p>Valider</p>
          </div>
        </div>
      <% end %>
  </div>
</div>
