<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/MelanieCouronne/buddy-bot" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://fr-fr.facebook.com/"><i class="fab fa-facebook" target="_blank"></i></a>
    <a href="https://twitter.com/?lang=fr"><i class="fab fa-twitter" target="_blank"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="https://giphy.com/gifs/love-movie-wall-e-cC4jUAUPDQ91K/fullscreen"><span>Hey mate <%= image_tag("logo-Jam-bot-03.png", class: 'granny-picto')%> my name is Buddy!</span></a>
  </div>
</div>
