<div class="messages">
  <div class="message d-flex justify-content-start text-left ml-2">
    <%= image_tag 'Matthieu.png', width:"50px", height:"45px", class:"rounded" %>
    <div class="message-text ml-3 mt-1">
      <h4>Matthieu</h4>
      <p> <%= answer.option.title %> </p>
    </div>
  </div>
</div>
