.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    // box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-body {
  // background:rgb(248, 248, 248);
  background: linear-gradient(180deg,rgba(0,0,0,.04),transparent 4%), linear-gradient(0deg,rgba(0,0,0,.04),transparent 4%), rgb(248, 248, 248);
}

.accordion-button:focus {
    z-index: 3;
    border-color: $red-buddy;
    box-shadow: 0 0 0 0.25rem rgba($color: $gray_navbar, $alpha: .1);
}

// .accordion-button:not(.collapsed)::after {
//     background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
// }

.accordion-button:not(.collapsed)::after {
    background-image: asset-url("red-arrow.svg");
    // transform: rotate(-180deg);
}

.form-control:focus {
    border-color: rgba($color: $gray_navbar, $alpha: .3);
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
