.btn-danger {
  background-color:#e33636;
  border: solid 1px #cc3a32;
  border-radius: 6px;
}

.btn-disable {
  opacity: 0.3;
  pointer-events: none;
}

.btn-disable-user {
  opacity: 0.95;
  pointer-events: none;
}
