.card-links i {
  color: #737373;
  opacity: 0.6;
}

.card-links i:hover {
  color: #737373;
  opacity: 1;
}


.card-topic {
  align-items: flex-end;
  background: white;
}

.card-photo{
  width: 100%;

}
