.topics-components {
  display: flex;
  flex-direction: row;
}

.interactions-form {
  width: 300px;
}

.interactions-preview {
  width: 500px;
}

.card-interaction {
  width: 500px;
  // min-height: 120px;
  background: white !important;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: 0.6px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  align-items: center;
  // position: relative;
}

.card-interaction-description {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px;
  height: 120px;
  width: 380px;
}

.card-interaction-img {
  background-image: asset-url('img-placeholder.png');
  background-size: 120px 120px;
  object-fit: cover;
  height: 120px;
  width: 120px;
  object-fit: cover;
  text-decoration: none;
}

.card-interaction-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
}

.card-interaction-position {
  text-align: center;
  // margin-bottom: 10px;
}

.card-interaction-infos {
  width: 500px;
  min-height: 120px;
  background:#f9f9f9;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: 0.4px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 20px 25px;

  i {
    color: #5c5b5b;
    opacity: 0.7;
    font-size: 14px;
    cursor: pointer;
  }

  i:hover {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

.card-toggle {
  width: 500px;
  height: 35px;
  background: white !important;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: 0.6px solid #e6e6e6;
  text-align: center;
  padding-top: 9px;
  margin-bottom: 15px;

  i {
    color: #5c5b5b;
    opacity: 0.7;
    font-size: 20px;
    cursor: pointer;
  }

  i:hover {
    opacity: 1;
  }
}


.infos-border {
  display: 400px;

  p {
    color: rgb(183, 183, 183);
  }
}

.card-interaction h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-interaction p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 20px;
}

.card-interaction-notifications {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;

  a {
    text-decoration: none;
    color: #5c5b5b;
    opacity: 0.7;
    cursor: pointer;
  }

  a:hover {
    opacity: 1;
  }

  i {
    color: #5c5b5b;
    opacity: 0.6;
    cursor: pointer;
  }

  i:hover {
    opacity: 1;
  }

  .btn-notification {
    background-color: transparent;
    opacity: 0.7;
    cursor: pointer;
  }

  .btn-notification:hover {
    opacity: 1;
  }
}

.options-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
