

.card-topic {
  align-items: flex-end;
  background: white;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  height: 400px;
}

.card-photo{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

// .btn-edit{
//   position: absolute;
//   bottom: 8px;
//   right: 5px;
//   margin: 10px;
// }

.card-boddy{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 16px 0;
}
.btn-stripped{
  background-color: transparent;
  border: none;
  padding: 0;
}

.card-trash {
  position: absolute;
  right: 10px;
  top: 10px;
  color: red;
}

.card-trash:hover{
  color: white;
}

.card-body-part{
  padding: 8px;
}
