.card-interaction {
  overflow: hidden;
  width: 500px;
  height: 120px;
  background: white !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.card-interaction img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.card-interaction-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 46px;
  left: 130px;
}

.card-interaction-position {
  text-align: center;
  margin-bottom: 10px;
}

.card-interaction-hidden {
  display: none;
}

.card-interaction h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-interaction p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-interaction .card-interaction-infos {
  padding: 16px;
}

.card-interaction-notifications {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 10px;
  right: 10px;

  a {
    text-decoration: none;
    color: #5c5b5b;
    opacity: 0.7;
  }

  a:hover {
    opacity: 1;
  }

  i {
    color: #5c5b5b;
    opacity: 0.7;
  }

  i:hover {
    color: #5c5b5b;
    opacity: 0.7;
  }


}
