$text-gray: rgb(50, 50, 50);
$red-buddy: #e8362b;

.topics-components {
  display: flex;
}


.card-interaction {
  width: 100%;
  background: white !important;
  border: 0.6px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px 8px 0 0;
}

.card-interaction-description {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 16px 16px 100px;
  height: 120px;
  width: 380px;
}

.card-interaction-img {
  background-image: asset-url('img-placeholder.png');
  background-size: 120px 120px;
  object-fit: cover;
  height: 120px;
  width: 120px;
  object-fit: cover;
  text-decoration: none;
  border-radius: 8px 0 0 0;
}

iframe {
  border-radius: 8px 0 0 0;
}

.card-interaction-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
}

.card-interaction-position {
  text-align: center;

  h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  width: 150px;
  }
}

.card-interaction-infos {
  width: 100%;
  min-height: 120px;
  background:rgb(248, 248, 248);
  border: 0.4px solid #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 5px 25px 8px 25px;
  background: linear-gradient(180deg,rgba(0,0,0,.04),transparent 4%), linear-gradient(0deg,rgba(0,0,0,.04),transparent 4%);

  i {
    color: #5c5b5b;
    opacity: 0.7;
    font-size: 14px;
    cursor: pointer;
  }

  i:hover {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

.card-toggle {
  width: 100%;
  height: 35px;
  background: white !important;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: 0.6px solid #e6e6e6;
  text-align: center;
  padding-top: 9px;
  margin-bottom: 15px;

  i {
    color: #5c5b5b;
    opacity: 0.7;
    font-size: 20px;
    cursor: pointer;
  }

  i:hover {
    opacity: 1;
  }
}


.infos-border {
  display: 400px;

  h5 {
    font-weight: bold;
    font-size: 18px;
    color: #e8362b;
    margin-bottom: 0;
  }

  p {
    color: $text-gray;
    margin-bottom: 18px;
    text-align: justify;
  }
}

.card-interaction p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.card-interaction-notifications {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;

  a {
    text-decoration: none;
    opacity: 0.7;
    color: #202020;
    cursor: pointer;
  }

  a:hover {
    opacity: 1;
  }

  i {
    color: #5c5b5b;
    opacity: 0.6;
    cursor: pointer;
  }

  i:hover {
    opacity: 1;
  }

  .btn-notification {
    background-color: transparent;
    margin: 0 30px;
    width: 100px;
    opacity: 0.8;
    color: #202020;
    cursor: pointer;
  }

  .modal-btn-options {
    margin-top: 0;
  }

  .btn-notification:hover {
    opacity: 1;
  }
}

.options-display {
  display: flex;
  min-width: 600px;
  width: 95%;
  margin-right: 30px;
  flex-direction: row;
  justify-content: space-between;

  p {
    margin-bottom: 0;
    color: $text-gray
  }
}

.reponse-direct {
  display: flex;
  align-items: baseline;
  margin-left: 15px;

  p {
    color: rgb(150, 150, 150);
    margin-top: 0;
    width: 87%;
  }
}

.width-réponse-enregistrée {
  width: 100%;
}
