// .logo-placeholder{
//   width: 380px;
//   height: 380px;
//   object-fit: cover;
//   position: absolute;
//   top: 30px;
//   right: -72%;
//   opacity: .2;
//   z-index: 1;
// }


.emoji-new-topic {
  position: relative;
  emoji-picker {
    position: absolute;
    // padding-left: 100px;
    // margin-left: 50px;
    // padding-right: 50px;
    // margin-right: 30px;
    right: -68%;
    top: 15%;
    z-index: 10;
  }
}
