.logo-placeholder{
  width: 380px;
  height: 380px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  right: -462px;
  opacity: .2;
  z-index: 1;
}

emoji-picker {
    position: absolute;
    padding-left: 100px;
    margin-left: 50px;
    padding-right: 50px;
    margin-right: 30px;
    // top: 30px;
    // left: 572px;
    // right: -300px;
    z-index: 10;
  }
