.logo-placeholder{
  width: 380px;
  height: 380px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  right: -428px;
  opacity: .2;
  z-index: 1;
}

emoji-picker {
    position: absolute;
    top: 30px;
    // left: 685px;
    right: -370px;
    z-index: 10;
  }
