.modal-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, Opacity 0.5s;
  z-index: 999;
}

.bg-active{
   visibility: visible;
   opacity: 1;
}

.modal{
  position: relative;
  font-family: 'Montserra', sans-serif;
  background-color: white;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.modal-small{
  position: relative;
  font-family: 'Montserra', sans-serif;
  background-color: white;
  width: 35%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.modal-close{
  position: absolute;
  top: 22px;
  right: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
}

.modal-close-option {
  position: absolute;
  top: 22px;
  right: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
}

.modal-container{
  width: 80%;
  position: relative;

  h1 {
    margin-bottom: 40px;
  }
}

.modal-schedule{
  position: relative;
  font-family: 'Montserra', sans-serif;
  background-color: white;
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}


emoji-picker {
  position: absolute;
  top: 30px;
  left: 470px;
}

// .modal-btn{
//   position: absolute;
//   right: 19px;
//   top: 85px;
// }
