.modal-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, Opacity 0.5s;
  z-index: 11;
}

.bg-active{
   visibility: visible;
   opacity: 1;
}

.modal{
  position: relative;
  font-family: 'Montserra', sans-serif;
  background-color: white;
  background-image: asset-url('logo-Jam-bot_N&B.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 400px;
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  padding-left: 60px;
  align-items: flex-start;
  flex-direction: column;
  z-index: 10;
  border-radius: 6px;
}


.modal-small{
  position: relative;
  font-family: 'Montserra', sans-serif;
  background-color: white;
  width: 35%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  left: -5%;
}


.modal-close{
  position: absolute;
  top: 0;
  right: -67%;
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
}

.modal-close-option {
  position: absolute;
  top: -5%;
  right: -15%;
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
}

.modal-container{
  width: 57%;
  position: relative;

  h1 {
    margin-bottom: 40px;
  }
}

.modal-container-option {
  width: 70%;
  position: relative;

  h1 {
    margin-bottom: 40px;
  }
}

.modal-schedule{
  position: relative;
  font-family: 'Montserra', sans-serif;
  background-color: white;
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}


  // emoji-picker {
  //   position: absolute;
  //   top: 30px;
  //   left: 685px;
  //   z-index: 10;
  // }

// .modal-btn{
//   position: absolute;
//   right: 19px;
//   top: 85px;
// }
