$gray_navbar: #243038;

.navbar-lewagon {
  justify-content: space-between;
  background: $gray_navbar;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  padding: 0.35rem .5rem;
  font-size: 1rem;
  border-radius: 3px;
  display: flex;
  min-width: 5.2%;
}


.nav-item:hover {
  background: black;
  color: white !important;
}

.nav-item-dropdown:hover {
  color: white !important;
  cursor: pointer;
}

.nav-item-dropdown {
  padding: 0.35rem 0.5rem;
  font-size: 1rem;
  border-radius: 3px;
  display: flex;
}

.nav-link {
  font-weight: 400;
  color: white !important;
  opacity: 0,5
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 3;
  border-bottom: 1.5px solid white;
}

@media(max-width: 500px) {
  .navbar {
    z-index: 2;
  }
  .nav-item {
    // padding: 0.35rem .2rem;
    // font-size: 1rem;
    // border-radius: 3px;
    // display: flex;
    min-width: 14%;
  }
}
