@import "users/profile";

.users-card{
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: flex-end;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  border: rgb(215, 215, 215) solid 1px;
  border-bottom: #e33636 solid 6px;
  box-shadow: rgb(200, 200, 200) 2px 2px 8px;
  p{
    font-size: 25px;
  }
}

.user-info{
min-width: 150px;

}

.container-user{
  min-height: 80.5vh;
  margin: 0px 90px 20px 90px;
  padding-bottom: 60px;

}

.users-row{
  padding: 10px;

}
