
.container-schedule{
  min-height: 81vh;
  margin: 0px 90px 20px 90px;
  padding-bottom: 80px;
  display: flex;

  H1 {
    margin-right: 7%;
    margin-bottom: 0;
    margin-left: 4%;
    color: white;
    font-size: 30px;
  }

  .table {
    margin-bottom: 0;
  }
}


h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}


#tab-month{
  justify-content: flex-start;
  li{
    size: 10px;
  }
}

.schedule-trash{
  color: rgb(50, 50, 50);;
  font-size: 20px;
  // text-shadow: rgb(80, 80, 80) 1px 1px 2px;
  // font-size: x-large;
}
.schedule-trash:hover{
  color: red;
  font-size: 20px;
  // text-shadow: rgb(80, 80, 80) 1px 1px 2px;
}

.schedule-eye{
  color: rgb(50, 50, 50);
  font-size: 20px;
  margin-bottom: 15px;
  // text-shadow: rgb(80, 80, 80) 1px 1px 2px;
  // font-size: x-large;

}
.schedule-eye:hover{
  color: red;
  font-size: 20px;
  // text-shadow: rgb(80, 80, 80) 1px 1px 2px;
}


.nav{
  padding-top: 15px;
  padding-bottom: 15px;
}

.photo{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.bloc-date{
  p{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;

  }
  span{
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;

  }
}

.bloc-photo{
  justify-content: center;
}

.bloc-title span{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}

.bloc-batch span{
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}

.table th, .table td{
  vertical-align: middle;
  width: 180px;
}

.table thead th{
  max-width: 180px;
  .modal-btn{
    font-size: 14px;
  }
}

.modal-btn-schecdule {
  margin: 0;
}

.inner-box {
  background-color: rgb(230, 230, 230);
  border-bottom: 4px solid rgb(110, 110, 110);
}

.table-responsive {
  text-align: center;

  .modal-btn{
    margin-bottom: 0;
  }

}

.custom-tab{
  background-color: #243038;
  align-items: center;
  border-radius: 6px;

  a{
    color: white;
  }

  .month-toggle{
  font-size: 20px;
  font-weight: 100;
  opacity: 0.5;
  text-align: center;
  }

.month-toggle.active{
  color: #243038;
  font-size: 26px;
  font-weight: 600;
  opacity: 1;
  }
}
