
.container-schedule{
  min-height: 80.5vh;
  margin: 0px 90px 20px 90px;
  padding-bottom: 80px;
}


h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}


#tab-month{
  justify-content: center;
  li{
    size: 10px;
  }
}

.schedule-trash{
  color: black;
  text-shadow: rgb(80, 80, 80) 1px 1px 2px;
  font-size: x-large;
}
.schedule-trash:hover{
  color: red;
  text-shadow: rgb(80, 80, 80) 1px 1px 2px;
}

.schedule-eye{
  color: black;
  text-shadow: rgb(80, 80, 80) 1px 1px 2px;
  font-size: x-large;

}
.schedule-eye:hover{
  color: red;
  text-shadow: rgb(80, 80, 80) 1px 1px 2px;
}


.nav{
  padding-top: 15px;
  padding-bottom: 15px;
}

.photo{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.bloc-date{
  p{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;

  }
  span{
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;

  }
}

.bloc-photo{
  justify-content: center;
}

.bloc-title span{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}

.bloc-batch span{
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}

.table th, .table td{
  vertical-align: middle;
  width: 180px;
}

.table thead th{
  max-width: 180px;
  .modal-btn{
    font-size: 14px;
  }
}




.custom-tab{
  background-color: #243038;

  a{
    color: white;
  }

  .month-toggle{
  font-size: 20px;
  font-weight: 100;
  opacity: 0.5;
  }

.month-toggle.active{
  color: #243038;
  font-size: 20px;
  font-weight: 600;
  opacity: 1;
  }
}
